name: Release

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - name: Enable Corepack
        run: corepack enable

      - name: Install
        run: yarn install --immutable

      - name: Build
        run: yarn build

      - name: Publish packages
        run: yarn release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
